<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="jdbc.properties"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 配置SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定mybatis的全局配置文件的路径 -->
        <property name="configLocation" value="myBatisConf.xml"></property>
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath*:mapper/*.xml"/>
    </bean>

    <!--自动扫描-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.potato.demo.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <bean id="huangRiverDao" class="com.potato.demo.dao.impl.HuangRiverDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="songliaoRiverDao" class="com.potato.demo.dao.impl.SongliaoRiverDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="songliaoReserviorDao" class="com.potato.demo.dao.impl.SongliaoReservoirDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="huangRiver" class="com.potato.demo.domain.HuangRiver">
    </bean>

    <bean id="songliaoRiver" class="com.potato.demo.domain.SongliaoRiver"/>

    <bean id="songliaoReservior" class="com.potato.demo.domain.SongliaoReservoir"/>

    <bean id="songliaoRainCondition" class="com.potato.demo.domain.SongliaoRainCondition"/>

    <bean id="dayRainfall" class="com.potato.demo.domain.DayRainfall"/>

    <bean id="hubeiDayRainfall" class="com.potato.demo.domain.HubeiDayRainfall"/>

    <bean id="riverCrawler" class=" com.potato.demo.utils.RiverCrawler">
        <constructor-arg type="java.lang.String">
            <value>crawl</value>
        </constructor-arg>
        <constructor-arg>
            <value>false</value>
        </constructor-arg>
        <constructor-arg name="huangRiver">
            <ref bean="huangRiver"></ref>
        </constructor-arg>
        <constructor-arg name="songliaoRiver">
            <ref bean="songliaoRiver"/>
        </constructor-arg>
        <constructor-arg name="huangRiverDao">
            <ref bean="huangRiverDao"/>
        </constructor-arg>
        <constructor-arg name="songliaoRiverDao">
            <ref bean="songliaoRiverDao"/>
        </constructor-arg>
        <constructor-arg name="songliaoReserviorDao">
            <ref bean="songliaoReserviorDao"/>
        </constructor-arg>
        <constructor-arg name="songliaoReservoir">
            <ref bean="songliaoReservior"/>
        </constructor-arg>
        <constructor-arg name="songliaoRainCondition">
            <ref bean="songliaoRainCondition"/>
        </constructor-arg>
        <constructor-arg name="dayRainfall">
            <ref bean="dayRainfall"/>
        </constructor-arg>
    </bean>

    <bean id="autoHydrologyInfoCrawler" class="com.potato.demo.utils.AutoHydrologyInfoCrawler">
        <constructor-arg type="java.lang.String">
            <value>crawl</value>
        </constructor-arg>
        <constructor-arg>
            <value>true</value>
        </constructor-arg>
        <constructor-arg name="hubeiDayRainfallDao">
            <ref bean="hubeiDayRainfallDao"/>
        </constructor-arg>
        <constructor-arg name="hubeiDayRainfall">
            <ref bean="hubeiDayRainfall"/>
        </constructor-arg>
    </bean>

</beans>